/*Changes made by CT83 Below*/

.carousel-indicators li {
    visibility: hidden;
}


/* Grow */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.4);
}

#map {
    height: 400px;
    width: 100%;
    background-color: #1c1d26;
}

.P_textStyle {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-style: inherit;
    color: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: 100%;
    line-height: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

.no-link{
    pointer-events: none;
    cursor: text;
    text-decoration: none;
    color: inherit;
  } 